@import "../node_modules/bootstrap/scss/functions",
        "../node_modules/bootstrap/scss/variables",
        "../node_modules/bootstrap/scss/mixins",
        "../node_modules/bootstrap/scss/reboot",
        "../node_modules/bootstrap/scss/containers",
        "../node_modules/bootstrap/scss/grid",
        "cursor",
        "fonts";

@mixin hover-img-scale {
  img {
    transition: .4s ease;
  }

  &:hover, &:focus, &:active {
    img {
      transform: scale(1.05);
    }
  }
}

:root {
  --primary-color: #fd0;
  --fg-color: #{$dark};
  --bg-color: #{$white};
  @include color-scheme(dark) {
    --fg-color: #{$light};
    --bg-color: #{$black};
  }
  --spacing-unit: 20px;
  @include media-breakpoint-up(md) { --spacing-unit: 40px; }
}

.row {
  --bs-gutter-x: var(--spacing-unit);
}

.col {
  @include media-breakpoint-down(sm) { flex: auto; }
}

.m-0 {
  margin: 0;
}

.mt-auto {
  margin-top: auto;
}

.d-flex {
  display: flex;
}

.flex-column-reverse {
  @include media-breakpoint-down(md) { flex-direction: column-reverse; }
}

.sticky-top {
  top: var(--spacing-unit);
  @include media-breakpoint-up(sm) {
    position: -webkit-sticky;
    position: sticky;
  }
}

.nowrap {
  white-space: nowrap;
}

.url {
  hyphens: none;
}

body {
  font-family: "Neue Machina", sans-serif;
  font-weight: 700;
  // font-feature-settings: "liga" 0;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  line-height: 1.2;
  color: var(--fg-color);
  background-color: var(--bg-color);
  cursor: $cursor-1x 12 12, auto;
  cursor: -webkit-image-set($cursor-1x 1x, $cursor-2x 2x) 12 12, auto;
  min-height: 100vh;
  padding: var(--spacing-unit);
  @include media-breakpoint-down(sm) { padding-top: 0; }

  ::selection {
    color: var(--fg-color);
    @include color-scheme(dark) { color: var(--bg-color); }
    background-color: var(--primary-color);
  }
}

main {
  min-height: calc(100vh - var(--footer-height) - var(--spacing-unit));
  @include media-breakpoint-up(sm) {
    min-height: calc(100vh - var(--footer-height) - var(--spacing-unit) * 2);
  }
}

h1, h2, h3 {
  font-weight: 700;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover, &:focus, &:active {
    color: inherit;
    text-decoration-line: line-through;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: .1em;
  }
}

figure {
  margin: 0;
  overflow: hidden;
}

img {
  // Make svg behaves like jpg or gif. 
  width: 2000px;
  max-width: 100%;
  @include color-scheme(dark) { background-color: $gray-100; }
}

video {
  width: 100%;
}

.wrapper {
  min-width: 260px;
  max-width: 1920px;
  margin: 0 auto;
}

.sidebar-wrapper {
  min-width: 220px;
  max-width: 240px;
  z-index: 1;

  @include media-breakpoint-down(sm) {
    width: 100%;
    max-width: none;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    background-color: var(--bg-color);
  }
}

.sidebar {
  .header {
    align-items: center;
    justify-content: space-between;
    margin-bottom: calc(var(--spacing-unit));
    @include media-breakpoint-down(sm) {
      display: flex;
      margin-top: var(--spacing-unit);
    }

    .logo {
      margin-bottom: 0;

      svg {
        fill: var(--fg-color);
        width: 120px;
        @include media-breakpoint-up(sm) { width: 180px; }
      }
    }

    .nav-toggle {
      @include media-breakpoint-up(sm) { display: none; }
      padding: 0;
      border: none;
      background: none;
      height: -moz-fit-content;
      height: fit-content;
    }
  }

  .sidebar-nav {
    @include media-breakpoint-down(sm) {
      position: absolute;
      width: 100%;
      left: 0;
      max-height: 200px;
      padding: 0 calc(var(--spacing-unit) * .5);
      background-color: var(--bg-color);
      overflow: hidden;
      transition: max-height .4s ease-in-out;

      &:not(.show) {
        max-height: 0;
      }
    }

    :last-child {
      @include media-breakpoint-down(sm) {
        margin-bottom: calc(var(--spacing-unit));
      }
    }

    h2 {
      font-size: 2rem;

      &.active {
        color: var(--primary-color);
      }
    }
  }

  .sidebar-placeholder {
    @include media-breakpoint-up(sm) {
      height: var(--footer-height);
    }
  }
}

.footer {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
  @include media-breakpoint-up(sm) {
    margin-top: calc(-1 * var(--footer-height));
    @media (min-height: 600px) {
      position: fixed;
      bottom: var(--spacing-unit);
    }
  }

  h2 {
    font-size: 2rem;
  }
}

.content {
  @include media-breakpoint-down(sm) { margin-top: var(--spacing-unit); }

  p, ul {
    margin-bottom: var(--spacing-unit);
  }

  .col {
    @include media-breakpoint-down(md) { flex: auto; }
  }

  .post-content {
    width: auto;
    @include media-breakpoint-up(md) { width: 40%; }
    @include media-breakpoint-down(sm) { margin-bottom: var(--spacing-unit); }

    .sticky-top {
      @include media-breakpoint-down(md) {
        position: static;
        top: auto;
      }

      >:last-child {
        @include media-breakpoint-up(sm) { margin-bottom: 0; }
      }
    }

    .post-info {
      @include list-unstyled();
    }
  }

  .image-list {
    @include media-breakpoint-down(md) { margin-bottom: var(--spacing-unit); }

    figure:not(:last-child) {
      margin-bottom: var(--spacing-unit);
    }
  }

  .carousel {
    .carousel-item {
      @include media-breakpoint-down(sm) {
        height: calc(100vh - var(--footer-height) - var(--spacing-unit) * 3 - 100px);
        min-height: 320px;
        margin-bottom: var(--spacing-unit);
      }
      @include media-breakpoint-up(sm) {
        height: calc(100vh - var(--spacing-unit) * 2);
      }
      overflow: hidden;
      transition: opacity 2s ease;

      &:not(.show) {
        display: none;
      }

      &:not(.visible) {
        opacity: 0;
      }
    }

    a {
      height: inherit;
      @include hover-img-scale();
    }

    figure {
      display: flex;
      align-items: center;
      justify-content: center;
      height: inherit;
      @include media-breakpoint-down(sm) { min-height: 320px; }
      @include media-breakpoint-up(sm) {
        position: fixed;
        margin-right: var(--spacing-unit);
      }

      img {
        object-fit: cover;
        min-height: 100%;
        min-height: #{"min(80vw, 100%)"};
        max-width: #{"min(140vh, 100%)"};
      }
    }
  }

  .section {
    @include media-breakpoint-down(sm) { margin-bottom: var(--spacing-unit); }

    a {
      @include hover-img-scale();
    }

    .section-post {
      &:not(:last-child) {
        margin-bottom: var(--spacing-unit);
      }

      .image-list {
        margin-bottom: 0;
      }
    }

    .section-post-titles {
      display: none;
      @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;
      }

      .post-meta >:last-child {
        @include media-breakpoint-up(sm) { margin-bottom: 0; }
      }
    }
  }

  .about {
    .about-post {
      margin-bottom: calc(20px + var(--spacing-unit));

      &:last-child {
        @include media-breakpoint-up(md) { margin-bottom: 0; }
      }

      .about-post-titles {
        @include media-breakpoint-down(md) {
          display: block;
          width: auto;
          margin-bottom: var(--spacing-unit);
        }
      }

      .col >:last-child {
        margin-bottom: 0;
      }
    }

    .about-member {
      align-items: center;
      margin-bottom: var(--spacing-unit);

      .avatar {
        clip-path: circle(40px at center);
        width: 80px;
        display: inline-block;
      }

      .profile {
        @include list-unstyled();
        margin: 0;
        margin-left: 1rem;
        margin-left: #{"max(1rem, 5%)"};

        :first-child {
          margin-bottom: 6px;
        }
      }
    }
  }
}

.error-page {
  position: absolute;
  top: var(--spacing-unit);
  bottom: var(--spacing-unit);
  left: var(--spacing-unit);
  right: var(--spacing-unit);
  min-height: 320px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .error-page-text {
    text-align: center;
  }

  .error-page-logo svg {
    fill: var(--fg-color);
    width: 120px;
  }
}
