// Custom.scss
// Option B: Include parts of Bootstrap

// @import "../node_modules/bootstrap/scss/bootstrap";

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

$primary: #ffdd00 !default;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
// @import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/type";
// @import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
// @import "../node_modules/bootstrap/scss/helpers";
// @import "../node_modules/bootstrap/scss/helpers/position";

// 5. Add additional custom code here

@font-face {
  font-family: 'Neue Machina';
  font-display: swap;
  font-weight: 600;
  src: url('assets/NeueMachina-Bold.woff2') format('woff2');;
}

body {
  font-family: 'Neue Machina', sans-serif;
  font-weight: 600;
  line-height: 1.2;
  hyphens: auto;
  margin: 40px;
}

h2 {
  font-size: 1.5rem;
}

#sidebar h2 {
  font-size: 2.5rem;
  margin: 0;
}

footer h2 {
  font-size: 2.5rem;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: line-through $primary;
  }
}

#logo {
  margin-bottom: 60px;

  img {
    width: 200px;
  }
}
