{%- set dur        = 0.4 -%}
{%- set dur_zero   = 0.01 -%}
{%- set keySplines = "0.25 0.1 0.25 1" -%}

<svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" style="fill: var(--primary-color);">
  <rect x="4" y="6" width="24" height="4">
    {{- animate::animate(name="x", to="2", dur=dur, begin="start.begin") -}}
    {{- animate::animate(name="x", to="4", dur=dur, begin="reverse.begin") -}}
    {{- animate::animate(name="width", to="28", dur=dur, begin="start.begin") -}}
    {{- animate::animate(name="width", to="24", dur=dur, begin="reverse.begin") -}}
    {{- animate::animateTransform(type="translate", from="0 0", to="0 8", dur=dur, begin="start.begin") -}}
    {{- animate::animateTransform(type="translate", from="0 8", to="0 0", dur=dur, begin="reverse.begin") -}}
    {{- animate::animateTransform(type="rotate", from="0 16 8", to="135 16 8", keySplines=keySplines, additive="sum", dur=dur, begin="start.begin") -}}
    {{- animate::animateTransform(type="rotate", from="135 16 8", to="0 16 8", keySplines=keySplines, additive="sum", dur=dur, begin="reverse.begin") -}}
  </rect>
  <rect x="4" y="14" width="24" height="4">
    {%- set offset = dur/3 | as_str -%}
    {%- set offset = "+" ~ offset ~ "s" -%}
    {{- animate::animate(name="x", to="16", dur=dur/3, begin="start.begin") -}}
    {{- animate::animate(name="x", to="4",  dur=dur-dur/3, begin="reverse.begin" ~ offset) -}}
    {{- animate::animate(name="width", to="0",  dur=dur/3, begin="start.begin") -}}
    {{- animate::animate(name="width", to="24", dur=dur-dur/3, begin="reverse.begin" ~ offset) -}}
    {{- animate::animateTransform(type="rotate", from="0 16 16", to="45 16 16", dur=dur/3, begin="start.begin") -}}
    {{- animate::animateTransform(type="rotate", from="45 16 16", to="0 16 16", dur=dur-dur/3, begin="reverse.begin" ~ offset) -}}
  </rect>
  <rect x="4" y="22" width="24" height="4">
    {{- animate::animate(name="x", to="2", dur=dur, begin="start.begin") -}}
    {{- animate::animate(name="x", to="4", dur=dur, begin="reverse.begin") -}}
    {{- animate::animate(name="width", to="28", dur=dur, begin="start.begin") -}}
    {{- animate::animate(name="width", to="24", dur=dur, begin="reverse.begin") -}}
    {{- animate::animateTransform(type="translate", from="0 0", to="0 -8", dur=dur, begin="start.begin") -}}
    {{- animate::animateTransform(type="translate", from="0 -8", to="0 0", dur=dur, begin="reverse.begin") -}}
    {{- animate::animateTransform(type="rotate", from="0 16 24", to="225 16 24", keySplines=keySplines, additive="sum", dur=dur, begin="start.begin") -}}
    {{- animate::animateTransform(type="rotate", from="225 16 24", to="0 16 24", keySplines=keySplines, additive="sum", dur=dur, begin="reverse.begin") -}}
  </rect>
  <circle cx="16" cy="16" r="24" fill-opacity="0">
    {{- animate::animate(name="r", to="0", dur=dur_zero, begin="click", id="start") -}}
    {{- animate::animate(name="r", to="24", dur=dur_zero, begin="reverse.end") -}}
  </circle>
  <circle cx="16" cy="16" r="0" fill-opacity="0">
    {{- animate::animate(name="r", to="0", dur=dur_zero, begin="click", id="reverse") -}}
    {{- animate::animate(name="r", to="24", dur=dur_zero, begin="start.end") -}}
  </circle>
</svg>