@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Neue Machina';
    font-weight: 700;
    font-style: normal;
    font-feature-settings: 'liga' 0;
    src: url('NeueMachina-Bold.woff2') format('woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'Anicons Subset';
    font-weight: normal;
    font-style: normal;
    src: url('AniconsGX.subset.woff2') format('woff2');
    font-display: block;
  }

  body {
    @apply min-h-screen hyphens-auto bg-black font-bold leading-tight text-fg;
    cursor:
      url('cursor.png') 12 12,
      auto;
    cursor:
      image-set(url('cursor.png') 1x, url('cursor@2x.png') 2x) 12 12,
      auto;
  }

  body ::selection {
    @apply bg-primary text-black;
  }

  a:hover,
  button:hover,
  input[type='submit']:hover {
    @apply line-through decoration-primary decoration-[0.1em];
  }

  input[type='submit'] {
    @apply cursor-pointer;
  }

  abbr[title] {
    @apply no-underline;
  }
}

@layer utilities {
  .clip-path-circle {
    clip-path: circle(50%);
  }

  .cjk-punct {
    font-family: 'PingFang SC', 'Microsoft YaHei', 'Source Han Sans SC', 'Noto Sans CJK SC',
      sans-serif;
    font-feature-settings: 'fwid';
  }
}
