{%- extends "base.html" -%}

{%- block content -%}
<div class="about">
  <div class="about-post row">
    <div class="post-content about-post-titles col-6">
      <div class="sticky-top">
        <h2 class="post-title m-0">mission</h2>
      </div>
    </div>
    <div class="col">
      {%- for mission in page.extra.mission -%}
        <p>{{ mission }}</p>
      {%- endfor -%}
    </div>
  </div>
  <div class="about-post row">
    <div class="post-content about-post-titles col-6">
      <div class="sticky-top">
        <h2 class="post-title m-0">services</h2>
      </div>
    </div>
    <div class="col">
      {%- for services in page.extra.services -%}
        <p>{{ services.summary }}</p>
        <ul>
          {%- for item in services.items -%}
            <li>{{ item }}</li>
          {%- endfor -%}
        </ul>
      {%- endfor -%}
    </div>
  </div>
  <div class="about-post row">
    <div class="post-content about-post-titles col-6">
      <div class="sticky-top">
        <h2 class="post-title m-0">team</h2>
      </div>
    </div>
    <div class="col about-team">
      {%- for member in page.extra.team -%}
        <div class="about-member d-flex">
          <div class="avatar">
            <img src="{{ member.avatar }}" alt="{{ member.name }}">
          </div>
          <ul class="profile">
            <li>{{ member.name }}</li>
            {%- for title in member.job_title -%}
              <li>{{ title }}</li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>
{%- endblock content -%}