{% extends "base.html" %}

{% block content %}
<div id="about">
  <div class="about-post row">
    <div class="post-content about-post-titles col-6">
      <div class="sticky-top">
        <h2 class="post-title m-0">Mission</h2>
      </div>
    </div>
    <div class="col">
      {% for mission in page.extra.mission %}
        <p>{{ mission }}</p>
      {% endfor %}
    </div>
  </div>
  <div class="about-post row">
    <div class="post-content about-post-titles col-6">
      <div class="sticky-top">
        <h2 class="post-title m-0">Team</h2>
      </div>
    </div>
    <div class="col about-team">
      {% for member in page.extra.team %}
        <div class="about-member d-flex">
          <div class="avatar">
            <img src="{{ page.path | safe }}{{ member.image }}" alt="{{ member.name }}">
          </div>
          <ul class="profile">
            <li>{{ member.name }}</li>
            {% for title in member.title %}
              <li>{{ title }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
  <!-- <div class="row">
    <div class="post-content about-post-titles col-6">
      <div class="sticky-top">
        <h2 class="post-title m-0">Awards</h2>
      </div>
    </div>
    <div class="col">
      <div style="height: 400px;">[Placeholder]</div>
    </div>
  </div>
  <div class="row">
    <div class="post-content about-post-titles col-6">
      <div class="sticky-top">
        <h2 class="post-title m-0">Exhibitions</h2>
      </div>
    </div>
    <div class="col">
      <div style="height: 400px;">[Placeholder]</div>
    </div>
  </div> -->
</div>
{% endblock content %}