{% extends "base.html" %}

{% block content %}
<div id="about">
  <div class="row">
    <div class="col-6 post-content about-post-titles">
      <div class="sticky-top">
        <h2 class="post-title">Introduction</h2>
      </div>
    </div>
    <div class="col">
      {% for introduction in page.extra.introduction %}
        <p>{{ introduction }}</p>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-6 post-content about-post-titles">
      <div class="sticky-top">
        <h2 class="post-title">People</h2>
      </div>
    </div>
    <div class="col about-people">
      {% for person in page.extra.people %}
        <div class="about-person">
          <div class="avatar"><img src="{{ page.permalink | safe }}{{ person.image }}" alt="{{ person.name }}"></div>
          <ul class="profile">
            <li>{{ person.name }}</li>
            {% for title in person.title %}
              <li>{{ title }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-6 post-content about-post-titles">
      <div class="sticky-top">
        <h2 class="post-title">Awards</h2>
      </div>
    </div>
    <div class="col">
      <div style="height: 400px;">[Placeholder]</div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 post-content about-post-titles">
      <div class="sticky-top">
        <h2 class="post-title">Exhibitions</h2>
      </div>
    </div>
    <div class="col">
      <div style="height: 400px;">[Placeholder]</div>
    </div>
  </div> -->
</div>
{% endblock content %}