<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="copyright" content="&copy; {{ now() | date(format='%Y') }} atelierAnchor">
  <meta name="description" content="{{ config.description }}">
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" type="image/png" href="/favicon.png">
  <title>
    {%- set separator = " - " -%}
    {%- if page.title -%}
      {{ page.title }}{{ separator }}
    {%- elif section.title -%}
      {{ section.title }}{{ separator }}
    {%- endif -%}
    {{- config.title -}}
  </title>
  <!-- Build time: {{ now() }} -->
</head>

<body>
  <div class="wrapper">
    <main class="mt-auto">
      <div class="row">
        <div class="sidebar-wrapper" class="col-3">
          <aside class="sidebar sticky-top">
            <div class="header">
              <h1 class="logo">
                <a href="/">{%- include "logo.html" -%}</a>
              </h1>
              <button id="toggle-sidebar" class="toggle-nav" data-bs-toggle="collapse" data-bs-target="#sidebar-headings">
                <span class="anicon">A</span>
              </button>
            </div>
            <div id="sidebar-headings" class="sidebar-headings collapse">
              {%- set sections = ["works", "typefaces", "dash", "about"] -%}
              {%- for section in sections -%}
                <h2 class="m-0{% if current_url is containing(section) %} active{% endif %}">
                  <a href="/{{ section }}/">{{ section }}</a>
                </h2>
              {%- endfor -%}
            </div>
          </aside>
        </div>
        <article class="content col d-flex">
          {%- block content -%}
          {%- endblock -%}
        </article>
      </div>
    </main>
    <footer class="footer fixed-bottom">
      <h2>contact</h2>
      <address class="m-0">
        15A, Lane 141<br>
        Xing&rsquo;an Road<br>
        Huangpu District<br>
        Shanghai, China<br>
        <a href="mailto:hi@atelier-anchor.com">hi@atelier-anchor.com</a><br>
        <a href="https://twitter.com/atelier_anchor">twitter</a>
        <a href="https://www.instagram.com/atelier_anchor/">instagram</a>
      </address>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <script src="/script.js"></script>
</body>

</html>