<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="copyright" content="&copy; {{ now() | date(format='%Y') }} atelierAnchor">
  <link rel="stylesheet" href="/style.css">
  <title>atelierAnchor</title>
  <!-- Build time: {{ now() }} -->
</head>

<body>
  <div id="wrapper">
    <main class="mt-auto">
      <div class="row">
        <div id="sidebar-wrapper" class="col-3">
          <nav id="sidebar" class="sticky-top">
            <div id="header">
              <h1 id="logo">
                <a href="/">
                  {% include "logo.html" %}
                </a>
              </h1>
              <button id="toggle-sidebar" class="toggle-nav">
                <span class="anicon">A</span>
              </button>
            </div>
            <div id="sidebar-headings">
              {% set sections = ["works", "typefaces", "dash", "about"] %}
              {% for section in sections %}
                <h2 class="m-0{% if current_url is containing(section) %} active{% endif %}">
                  <a href="/{{ section }}/">{{ section }}</a>
                </h2>
              {% endfor %}
            </div>
          </nav>
        </div>
        <article id="content" class="col d-flex">
          {% block content %}
          {% endblock %}
        </article>
      </div>
    </main>
    <footer id="footer" class="fixed-bottom">
      <h2>contact</h2>
      <address class="m-0">
        <a href="mailto:hi@atelier-anchor.com">hi@atelier-anchor.com</a><br />
        15A, Lane 141<br />
        Xing&rsquo;an Road<br />
        Huangpu District<br />
        Shanghai, China<br />
      </address>
    </footer>
  </div>
  <script src="/script.js"></script>
</body>

</html>