{%- extends "base.html" -%}

{%- block content -%}
<div class="section">

  <div class="section-post row">
    {%- set get_dash = section.extra.get_dash -%}
    <div class="post-content get-dash-titles col-6">
      <div class="sticky-top">
        <h2 class="post-title m-0">{{ get_dash.title }}</h2>
      </div>
    </div>
    <div class="col">
      {{- section.content | safe -}}
      <h3>{{ get_dash.printed_version.summary }}</h3>
      <ul>
        {%- for store in get_dash.printed_version.stores -%}
          {%- if store.url -%}
            <li><a href="{{ store.url | safe }}" target="_blank">{{ store.name }}</a></li>
          {%- else -%}
            <li>{{ store.name }}</li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
      <h3>{{ get_dash.digital_version.summary }}</h3>
      {%- include "dash-subscription.html" -%}
      <p class="dash-subscription-notice">
        {{- get_dash.digital_version.notice | markdown(inline=true) | safe -}}
      </p>
    </div>
  </div>

  {%- for page in section.pages -%}
    <div class="section-post row">
      <div class="post-content section-post-titles col-6">
        <div class="post-meta">
          <h2 class="post-title m-0">
            <a href="{{ page.path | safe }}">{{ page.title }}</a>
          </h2>
          {%- include "post-meta.html" -%}
        </div>
      </div>
      <div class="image-list col">
        {%- set image = page.extra.images | first -%}
        <a href="{{ page.path | safe }}" aria-label="{{ page.title }}">
          {%- include "figure.html" -%}
        </a>
      </div>
    </div>
  {%- endfor -%}
</div>

{%- endblock content -%}