<figure>
  {%- if image.light and image.dark -%}
    {%- set alt = image.light | split(pat=".") | slice(end=-2) | join -%}
    <picture>
      <source srcset="{{ page.path | safe }}{{ image.dark }}" media="(prefers-color-scheme: dark)">
      <img src="{{ page.path | safe }}{{ image.light }}" alt="{{ alt }}" class="no-bg">
    </picture>
  {%- else -%}
    {%- if image.url -%}
      <img src="{{ image.url }}" alt="{{ image.name }}">
    {%- else -%}
      <img src="{{ page.path | safe }}{{ image }}" alt="{{ image }}">
    {%- endif -%}
  {%- endif -%}
</figure>