{%- extends "base.html" -%}

{%- block content -%}
{%- set image_pages = [] -%}
{%- for section_name in ["works", "dash"] -%}
  {%- set section_path = [section_name, "/_index.md"] | join -%}
  {%- set subsection = get_section(path=section_path) -%}
  {%- for page in subsection.pages -%}
    {%- if page.extra and page.extra.images -%}
      {%- set_global image_pages = image_pages | concat(with=page) -%}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}
<div class="carousel">
  <div class="carousel-inner">
    {%- for page in image_pages -%}
      {%- if not page.extra.carousel_exclude -%}
        {%- set image_name = page.path | split(pat="/") | nth(n=2) -%}
        {%- if image_name == "agt" -%}
          <div class="carousel-item d-flex">
            <a href="https://zhongchou.modian.com/item/122907.html" target="_blank">
              <figure>
                <picture>
                  <source srcset="/typefaces/jinhua/jinhua-1.dark.svg" media="(prefers-color-scheme: dark)">
                  <img src="/typefaces/jinhua/jinhua-1.light.svg" alt="Jinhua Mincho" class="no-bg">
                </picture>
              </figure>
            </a>
          </div>
        {%- else -%}
          {%- set image = page.extra.images | first -%}
          <div class="carousel-item d-flex">
            <a href="{{ page.path | safe }}">
              <figure>
                {%- if image.url -%}
                  <img src="{{ image.url | safe }}" alt="{{ image.name }}">
                {%- else -%}
                  <img src="{{ page.path | safe }}{{ image }}" alt="{{ image }}">
                {%- endif -%}
              </figure>
            </a>
          </div>
          {%- if image_name in ["double-win", "psa"] -%}
            <div class="carousel-item d-flex">
              <a href="https://zhongchou.modian.com/item/122907.html" target="_blank">
                <figure>
                  <picture>
                    <source srcset="/typefaces/jinhua/jinhua-1.dark.svg" media="(prefers-color-scheme: dark)">
                    <img src="/typefaces/jinhua/jinhua-1.light.svg" alt="Jinhua Mincho" class="no-bg">
                  </picture>
                </figure>
              </a>
            </div>
          {%- endif -%}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
  </div>
</div>
{%- endblock content -%}