{%- extends "base.html" -%}

{%- block content -%}
{%- set image_pages = [] -%}
{%- for section_name in ["works", "dash"] -%}
  {%- set section_path = [section_name, "/_index.md"] | join -%}
  {%- set subsection = get_section(path=section_path) -%}
  {%- for page in subsection.pages -%}
    {%- if page.extra and page.extra.images -%}
      {%- set_global image_pages = image_pages | concat(with=page) -%}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}
<div class="carousel">
  <div class="carousel-inner">
    {%- for page in image_pages -%}
      {%- set image = page.extra.images | first -%}
      <div class="carousel-item d-flex">
        <a href="{{ page.path | safe }}">
          <figure>
            {%- if image.url -%}
              <img src="{{ image.url }}" alt="{{ image.name }}">
            {%- else -%}
              <img src="{{ page.path | safe }}{{ image }}" alt="{{ image }}">
            {%- endif -%}
          </figure>
        </a>
      </div>
    {%- endfor -%}
  </div>
</div>
{%- endblock content -%}