{%- extends "base.html" -%}

{%- block content -%}
{%- set image_pages = [] -%}
{%- set subsection = get_section(path="works/_index.md") -%}
{%- for page in subsection.pages -%}
  {%- if page.extra and page.extra.images -%}
    {%- set_global image_pages = image_pages | concat(with=page) -%}
  {%- endif -%}
{%- endfor -%}
<div id="carousel">
  <div class="carousel-inner">
    {%- for page in image_pages -%}
      {%- set image = page.extra.images | first -%}
      <div class="carousel-item d-flex">
        <a href="{{ page.path | safe }}">
          <figure>
            {%- if image.url -%}
              <img src="{{ image.url }}" alt="{{ image.name }}">
            {%- else -%}
              <img src="{{ page.path | safe }}{{ image }}" alt="{{ image }}">
            {%- endif -%}
          </figure>
        </a>
      </div>
    {%- endfor -%}
  </div>
</div>
{%- endblock content -%}