{% extends "base.html" %}

{% block content %}
<div class="row flex-column-reverse">
  <div class="post-content col-6 ">
    <div class="sticky-top">
      <h2 class="post-title m-0">{{ page.title }}</h2>
      {% include "post-meta.html" %}
      {{ page.content | safe }}
    </div>
  </div>
  <div class="image-list col">
    {% if page.extra.images %}
      {% for image in page.extra.images %}
        <figure>
          <img src="{{ page.path | safe }}{{ image }}" alt="{{ image }}">
        </figure>
      {% endfor %}
    {% endif %}
    {% if page.extra.videos %}
      {% for video in page.extra.videos %}
        <!-- {{ page.path | safe }}{{ video }} -->
        <figure>
          <video controls preload="metadata">
            <source src="{{ page.path | safe }}{{ video }}" type="video/webm">
          </video>
        </figure>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock content %}