{% extends "base.html" %}

{% block content %}
<div class="row flex-column-reverse">
  <div class="col-6 post-content">
    <div class="sticky-top">
      <h2 class="post-title">{{ page.title }}</h2>
      {% include "post-meta.html" %}
      {{ page.content | safe }}
    </div>
  </div>
  <div class="col image-list">
    {% if page.extra.images %}
      {% for image in page.extra.images %}
        <img src="{{ page.path | safe }}{{ image }}" alt="{{ image }}">
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock content %}