{%- if page.extra.type -%}
  <p class="post-type">{{ page.extra.type }}</p>
{%- endif -%}
<ul class="post-info">
  {%- if page.extra.client -%}
    <li>CL: {{ page.extra.client }}</li>
  {%- endif -%}
  {%- if page.extra["creative-director"] -%}
    <li>CD: {{ page.extra["creative-director"] }}</li>
  {%- endif -%}
  {%- if page.extra["art-director"] -%}
    <li>AD: {{ page.extra["art-director"] }}</li>
  {%- endif -%}
  {%- if page.extra["type-director"] -%}
    <li>TD: {{ page.extra["type-director"] }}</li>
  {%- endif -%}
  {%- if page.extra.designer -%}
    <li>D: {{ page.extra.designer }}</li>
  {%- endif -%}
  {%- if page.extra.publisher -%}
    <li>P: {{ page.extra.publisher }}</li>
  {%- endif -%}
  {%- if page.extra.translator -%}
    <li>T: {{ page.extra.translator }}</li>
  {%- endif -%}
  {%- if page.extra.editor -%}
    <li>E: {{ page.extra.editor }}</li>
  {%- endif -%}
</ul>