{% extends "base.html" %}

{% block content %}
{% for page in section.pages %}
  <div class="row">
    <div class="col-6 post-content">
      <h2 class="post-title">
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
      </h2>
      {% include "post-meta.html" %}
    </div>
    <div class="col image-list">
      {%- if page.extra.images -%}
        {% set image = page.extra.images | first %}
        <img src="{{ page.permalink | safe }}{{ image }}" alt="{{ image }}">
      {%- endif -%}
    </div>
  </div>
{% endfor %}
{% endblock content %}