{%- extends "base.html" -%}

{%- block content -%}
<div class="section">
  {%- for page in section.pages -%}
    <div class="section-post row">
      <div class="post-content section-post-titles col-6">
        <div class="post-meta">
          <h2 class="post-title m-0">
            <a href="{{ page.path | safe }}">{{ page.title }}</a>
          </h2>
          {%- include "post-meta.html" -%}
        </div>
      </div>
      <div class="image-list col">
        {%- if page.extra.images -%}
          {%- set image = page.extra.images | first -%}
          <a href="{{ page.path | safe }}" aria-label="{{ page.title }}">
            {%- include "figure.html" -%}
          </a>
        {%- endif -%}
      </div>
    </div>
  {%- endfor -%}
</div>
{%- endblock content -%}